
<div class="page-header">
	<h1>Suche bei Buddies</h1>
</div>

<div class="starter-template">
	<form class="form-horizontal" action="/" method="post">
		<div class="form-group">
			<label for="card" class="col-sm-1 control-label">Karte</label>
			<div class="col-sm-4">
		 		<input class="form-control" id="card" name="card" type="text">
		 	</div>
		</div>
	
		<div class="form-group">
			<div class="col-sm-offset-1 col-sm-10">
  				<button type="submit" class="btn btn-default">Suchen</button>
			</div>
		</div>
	</form>
</div>
